<div ng-controller="HomeController">
  <div ng-repeat='space in featured_spaces'>
    {{space.id}}
  </div>
  <div>
    <div class="page-header">
      <h1>Featured Shared Office Spaces</h1>
    </div>
    <div>
      <div class="col-md-4" ng-repeat='space in featured_spaces'>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <img ng-src="{{space.thumbnail_picture}}" alt="" class="thumb-img"/>
          </div>
        </div>
        <b> {{ space.name }} </b> ( {{ space.address }} )
        <br />
      </div>
      <br>
    </div>
  </div>
  <br/ >
  <br/ >

  <div style="clear:left">
    <div class="page-header">
      <h1>Shared Office Spaces</h1>
    </div>

    <div>
      <div class="col-md-4" ng-repeat='space in unfeatured_spaces'>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <img ng-src="{{space.thumbnail_picture}}" alt="", class="thumb-img"/>
          </div>
        </div>
        <b> {{ space.name }} </b> ( {{ space.address }} )
        <br />
      </div>
      <br>
    </div>
  </div>
<div>



