@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

.thumb-img {
  height: 200px !important;
  width: 200px !important;
  max-width:none !important;
  display: block;
}
